name: Docs
on: workflow_dispatch
jobs:
  test:
    name: "Rebuild and Deploy Docs"
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Cloudflare Deploy Hook
        run: "curl -X POST ${{ secrets.CLOUDFLARE_V1_DEPLOY_HOOK }}"
