name: Release
on:
  release:
    types: [published]
jobs:
  test:
    name: "Publish Release"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.release.tag_name }}
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      - name: Install Dependencies
        run: pnpm install
      - name: Lint Code
        run: pnpm lint
      - name: Run Unit Tests
        run: pnpm test
      - name: Build Documentation
        run: pnpm build:docs
      - name: Build Library
        run: pnpm build
      - name: Publish Library (Prerelease)
        if: ${{ github.event.release.prerelease }}
        run: pnpm publish --access=public --tag=next --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: true
      - name: Publish Library (Latest)
        if: ${{ !github.event.release.prerelease }}
        run: pnpm publish --access=public --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: true
      - name: Publish Documentation
        run: "curl -X POST ${{ secrets.CLOUDFLARE_DEPLOY_HOOK }}"
